<!DOCTYPE html>
<html>
<head>
  <title>Techmtaa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- navigation links-->
	<%= link_to "Home", root_path %>
	<%= link_to "About", abouts_path %>
	<%= link_to "Portfolio", portfolios_path %>
	<%= link_to "The Team", the_teams_path %>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

	<%= render 'layouts/header' %>
	<div class="container">
		<%= yield %>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails,env.development? %>
	</div>



</body>
</html>
